@model RaktarKeszlet.Models.StorageContainer

@{
    ViewData["Title"] = "Tárolóeszköz szerkesztése";
}

<h1>Tárolóeszköz szerkesztése</h1>
<hr />

<div class="row">
    <div class="col-md-6">
        <form asp-action="Edit" class="bg-light p-4 rounded shadow-sm">
            <div asp-validation-summary="All" class="text-danger fw-bold mb-3"></div>

            <!-- Rejtett mező az azonosítónak -->
            <input type="hidden" asp-for="Id" />

            <div class="mb-3">
                <label asp-for="ShelfId" class="form-label fw-bold">Melyik Polcon/Soron található?</label>
                <select asp-for="ShelfId" class="form-select" asp-items="ViewBag.ShelfId"></select>
                <span asp-validation-for="ShelfId" class="text-danger"></span>
            </div>

            <div class="mb-3">
                <label asp-for="Name" class="form-label fw-bold">Tárolóeszköz azonosítója</label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>

            <div class="mt-4">
                <button type="submit" class="btn btn-success">Módosítások mentése</button>
                <a asp-action="Index" class="btn btn-secondary ms-2">Mégse</a>
            </div>
        </form>
    </div>
</div>