@model RaktarKeszlet.Models.Building

@{
    ViewData["Title"] = "Új épület felvitele";
}

<h1>Új raktárépület rögzítése</h1>
<hr />

<div class="row">
    <div class="col-md-6">
        <form asp-action="Create" class="bg-light p-4 rounded shadow-sm border">
            <div asp-validation-summary="All" class="text-danger fw-bold mb-3"></div>

            <div class="mb-3">
                <label asp-for="CompanyId" class="form-label fw-bold">Melyik céghez/tulajdonoshoz tartozik?</label>
                <!-- A ViewBag.CompanyId-ból töltődik be az a lista, amit a Controllerben megírtunk -->
                <select asp-for="CompanyId" class="form-select form-select-lg" asp-items="ViewBag.CompanyId">
                    <option value="">-- Válassz céget! --</option>
                </select>
                <span asp-validation-for="CompanyId" class="text-danger"></span>
            </div>

            <div class="mb-3">
                <label asp-for="Name" class="form-label fw-bold">Épület neve</label>
                <input asp-for="Name" class="form-control form-control-lg" placeholder="Pl. Főraktár, A-épület" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>

            <div class="mt-4">
                <button type="submit" class="btn btn-primary btn-lg">Mentés</button>
                <a asp-action="Index" class="btn btn-outline-secondary btn-lg ms-2">Vissza a listához</a>
            </div>
        </form>
    </div>
</div>