@model RaktarKeszlet.Models.Shelf

@{
    ViewData["Title"] = "Polc szerkesztése";
}

<h1>Polc / Sor szerkesztése</h1>
<hr />

<div class="row">
    <div class="col-md-6">
        <form asp-action="Edit" class="bg-light p-4 rounded shadow-sm">
            <div asp-validation-summary="All" class="text-danger fw-bold mb-3"></div>

            <!-- Rejtett mező az azonosítónak (KÖTELEZŐ!) -->
            <input type="hidden" asp-for="Id" />

            <div class="mb-3">
                <label asp-for="RoomId" class="form-label fw-bold">Melyik helyiségben található?</label>
                <select asp-for="RoomId" class="form-select" asp-items="ViewBag.RoomId">
                    <option value="">-- Válassz helyiséget! --</option>
                </select>
                <span asp-validation-for="RoomId" class="text-danger"></span>
            </div>

            <div class="mb-3">
                <label asp-for="Identifier" class="form-label fw-bold">Polc vagy Sor neve</label>
                <input asp-for="Identifier" class="form-control" />
                <span asp-validation-for="Identifier" class="text-danger"></span>
            </div>

            <div class="mt-4">
                <button type="submit" class="btn btn-success">Módosítások mentése</button>
                <a asp-action="Index" class="btn btn-secondary ms-2">Mégse</a>
            </div>
        </form>
    </div>
</div>