@model RaktarKeszlet.Models.Company

@{
    ViewData["Title"] = "Cég részletei";
}

<h1>Cég részletei</h1>
<hr />

<div class="row">
    <div class="col-md-6">
        <div class="card shadow border-0">
            <div class="card-header bg-dark text-white">
                <h5 class="mb-0"><i class="bi bi-building"></i> Alapadatok</h5>
            </div>
            <div class="card-body bg-light">
                <dl class="row mb-0">
                    <dt class="col-sm-4 text-muted">Azonosító (Név)</dt>
                    <dd class="col-sm-8 fw-bold fs-4">@Model.Name</dd>

                    <!-- Később ide be lehet kötni egy listát, hogy mennyi épület tartozik ehhez a céghez -->
                </dl>
            </div>
            <div class="card-footer bg-white border-top-0 pt-3 pb-3">
                <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-warning">Szerkesztés</a>
                <a asp-action="Index" class="btn btn-secondary ms-2">Vissza a listához</a>
            </div>
        </div>
    </div>
</div>