@model RaktarKeszlet.Models.Company

@{
    ViewData["Title"] = "Cég szerkesztése";
}

<h1>Cég adatainak módosítása</h1>
<hr />

<div class="row">
    <div class="col-md-6">
        <form asp-action="Edit" class="bg-light p-4 rounded shadow-sm border">
            <div asp-validation-summary="All" class="text-danger fw-bold mb-3"></div>

            <!-- Rejtett mező a cég azonosítójának -->
            <input type="hidden" asp-for="Id" />
            <!-- Rejtett mező a tulajdonos azonosítójának, hogy ne vesszen el a szerkesztéskor -->
            <input type="hidden" asp-for="UserId" />

            <div class="mb-3">
                <label asp-for="Name" class="form-label fw-bold">Cég vagy Tulajdonos neve</label>
                <input asp-for="Name" class="form-control form-control-lg" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>

            <div class="mt-4">
                <button type="submit" class="btn btn-success btn-lg">Módosítások mentése</button>
                <a asp-action="Index" class="btn btn-outline-secondary btn-lg ms-2">Vissza a listához</a>
            </div>
        </form>
    </div>
</div>