@model RaktarKeszlet.Models.Category

@{
    ViewData["Title"] = "⁄j kategÛria";
}

<h1>⁄j kategÛria felvitele</h1>
<hr />

<div class="row">
    <div class="col-md-6">
        <form asp-action="Create" class="bg-light p-4 rounded shadow-sm border">
            <div asp-validation-summary="All" class="text-danger fw-bold mb-3"></div>

            <div class="mb-3">
                <label asp-for="Name" class="form-label fw-bold">KategÛria neve</label>
                <input asp-for="Name" class="form-control form-control-lg" placeholder="Pl. Szersz·m, Sz·raz·ru..." />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>

            <div class="mt-4">
                <button type="submit" class="btn btn-primary btn-lg">MentÈs</button>
                <a asp-action="Index" class="btn btn-outline-secondary btn-lg ms-2">Vissza a list·hoz</a>
            </div>
        </form>
    </div>
</div>